<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.tmb.listeners.TestListener"/>
    </listeners>
    <test parallel="methods" thread-count="2" name="SeleniumFramework">
        <classes>
            <class name="com.tmb.tests.HomePageTest"/>
            <class name="com.tmb.tests.PaymentTest"/>
        </classes>
    </test>
</suite>